<h4>Login</h4>

<div class="well">
	<%= form_tag '/login' do %>
    <div class='control-group'>
    	<%= label_tag :email %>
    	<%= email_field_tag :email, params[:email] || '' %>
    </div>
    <div class='control-group'>
    	<%= label_tag :password %>
    	<%= password_field_tag :password, params[:password] || '' %>
    </div>
    <%= submit_tag "Login", class: 'btn btn-success' %>
	<% end %>
</div>
