.container
  .row
    .col-sm-4.col-sm-offset-1
      %h3 Reserve Your Skydive
      = form_tag search_openings_path do
        = label_tag "Select a Date:"
        = text_field_tag :date, params[:date] || '', class: "form-control", id: "reservation-date"
        = hidden_field_tag :student_id, @student.id
        = submit_tag "Search Date for Openings", class: "btn btn-primary"
