- meta :title => "Openings"

.container
  %h3 Student Reservations
  - if admin?
    = link_to "Create an Opening", new_admin_opening_path, class: "btn btn-info"
  %hr
  %h4 Legend
  %p.center.calendar-btn.cal-blue Tandem Opening
  %p.center.calendar-btn.cal-green IAD Opening
  %p.center.calendar-btn.cal-default Reserved Student

.container
  = calendar @openings do |opening|
    .div
      - case opening.instruction
      - when "Tandem"
        - if opening.reserved? == false
          = link_to "Tandem: #{display_time(opening.time)}", opening_path(opening), class: "calendar-btn cal-blue"
        - if opening.reserved? && admin?
          - if opening.student.confirmed?
            = link_to "Tandem: #{display_time(opening.time)}", opening_path(opening), class: "calendar-btn cal-default"
          - else
            = link_to "Tandem: #{display_time(opening.time)}", opening_path(opening), class: "calendar-btn cal-red"
      -when "Instructor Assisted Deployment"
        - if opening.reserved? == false
          = link_to "IAD: #{display_time(opening.time)}", opening_path(opening), class: "calendar-btn cal-green"
        - if opening.reserved? && admin?
          - if opening.student.confirmed?
            = link_to "IAD: #{display_time(opening.time)}", opening_path(opening), class: "calendar-btn cal-default"
          - else
            = link_to "IAD: #{display_time(opening.time)}", opening_path(opening), class: "calendar-btn cal-red"

        