.container
  %h3 Openings
  - if admin?
    = link_to "Create an Opening", new_admin_opening_path, class: "btn btn-info"

.container
  = calendar @openings do |opening|
    .div
      - case opening.instruction
      - when "Tandem"
        = link_to "Tandem: #{display_time(opening.time)}", opening_path(opening), class: "calendar-btn cal-blue"
      -when "Instructor Assisted Deployment"
        = link_to "IAD: #{display_time(opening.time)}", opening_path(opening), class: "calendar-btn cal-green"