<div class='well'>
	<%= form_for @user do |f| %>
		<%= render 'shared/errors', obj: @user %>
		<div class='form-group'>
			<%= f.label :first_name %>
			<%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
		</div>
		<div class='form-group'>
			<%= f.label :last_name %>
			<%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
		</div>
		<div class='form-group'> 
			<%= f.label :email %>
			<%= f.email_field :email, class: "form-control", placeholder: "example@gmail.com" %>
		</div>
		<div class='form-group'>
			<%= f.label :password %>
			<%= f.password_field :password, class: "form-control" %>
		</div>
		<div class='form-group'>
			<%= f.label "Phone Number" %>
			<%= f.text_field :phone, class: "form-control" %>
		</div>
		<div class='form-group'>
			<%= f.label :age %>
			<%= f.text_field :age, class: "form-control" %>
		</div>
		<div class='form-group'>
			<%= f.label :street_address %>
			<%= f.text_field :street_address, class: "form-control" %>
		</div>
		<div class='form-group'>
			<%= f.label :city %>
			<%= f.text_field :city, class: "form-control" %>
		</div>
		<div class='form-group'>
			<%= f.label :state %>
			<%= f.text_field :state, class: "form-control" %>
		</div>
		<%= f.submit @user.new_record? ? "Register" : "Update Profile", class: 'btn btn-success' %>
	<% end %>
</div>