<div class="container">

<div>
	<ul class="list-inline">
		<li>
			<%= link_to(new_post_path, class: "btn btn-success") do %>
			  New Post
			<% end %>
		</li>
		<li>
			<%= link_to(new_shift_path, class: "btn btn-success") do %>
			  Sign up for a shift
			<% end %>
		</li>
		<li>
			<%= link_to(shifts_path, class: "btn btn-success") do %>
			  View Shift Calendar
			<% end %>
		</li>
	</ul>
</div>

<% @posts.each do |post| %>
	<div class="well">
		<ul class="list-inline">
		  <li><h3><%= post.title %></h3></li>
		  <li>(<%= post.creator.first_name %>)</li>
	  </ul>
	  <p><%= post.body %></p>
	</div>
<% end %>

<% @shifts.each do |shift| %>
  <div class="well">
  	<%= shift.creator.first_name %> signed up for a shift as a <%= shift.role %> on <%= display_day(shift.date) %> from <%= display_time(shift.start_time) %> to <%= display_time(shift.end_time) %>.
  </div>
<% end %>

</div>