<div class="container">

<div>
	<ul class="list-inline">
		<li>
			<%= link_to(shifts_path, class: "btn btn-primary") do %>
			  View Shift Calendar
			<% end %>
		</li>
		<li>
			<%= link_to(new_shift_path, class: "btn btn-success") do %>
			  Create a Shift
			<% end %>
		</li>
		<li>
			<%= link_to(new_post_path, class: "btn btn-success") do %>
			  New Post
			<% end %>
		</li>
	</ul>
</div>

<div>
	<ul>
		<li>
			<%= link_to(set_member_path, class: "btn btn-primary") do %>
			  Set yourself as a Member
			<% end %>
		</li>
	</ul>
</div>

<ul class='nav nav-tabs'>
  <li class="<%= 'active' if params[:tab].nil? %>">
    <%= link_to "New Posts", members_path %>
  </li>
  <li class="<%= 'active' if params[:tab] == 'shifts' %>">
    <%= link_to "New Shifts", members_path(tab: 'shifts') %>
  </li>
</ul>
<br/>

<% if params[:tab].nil? %>
  <% @posts.each do |post| %>
    <div class="well">
			<ul class="list-inline">
			  <li><h3><%= post.title %></h3></li>
			  <li>(<%= post.creator.first_name %>)</li>
		  </ul>
	  <p><%= post.body %></p>
	</div>
  <% end %>
<% elsif params[:tab] == 'shifts' %>
  <% @shifts.each do |shift| %>
    <div class="well">
	  	<% if shift.role == "Tandem Student Count" || shift.role == "IAD Student Count" %>
	  	  <strong><%= shift.creator.first_name %></strong> updated the <strong><%= shift.role %></strong> on <%= display_day(shift.date) %> to <strong><%= shift.person %></strong> students.
	  	<% else %>
		  	<strong><%= shift.person %></strong> signed up for a shift as a <strong><%= shift.role %></strong> on <%= display_day(shift.date) %> from <%= display_time(shift.start_time) %> to <%= display_time(shift.end_time) %>.
		  <% end %>
    </div>
  <% end %>
<% end %>
</div>