<div class="well">
	<%= form_for @shift do |f| %>
	  <%= render 'shared/errors', obj: @shift %>
	  <div class='form-group'%>
	  	<%= f.label "Which Role?" %>
	  	<%= f.select(:role, Shift::ROLE_TYPES)%>
	  </div>
	  <div class='form-group'%>
	  	<%= f.label "Who will be working this shift?" %>
	  	<p class="help-block">If updating student count, enter the number of students</p>
	  	<%= f.text_field :person, class: "form-control", placeholder: "Person Name OR Student Count" %>
	  </div>
	  <div class='form-group'%>
	  	<%= f.label "Date and Start Time:" %>
	  	<%= f.datetime_select :date, {minute_step: 15, ampm: true}%>
	  </div>
	  <div class='form-group'%>
	  	<%= f.label :end_time %>
	  	<%= f.time_select :end_time, {minute_step: 15, ampm: true} %>
	  </div>
	  <div class='form-group'%>
	  	<%= f.label :notes %>
	  	<%= f.text_area :notes, class: "form-control", rows: "3", placeholder: "Enter any notes here, such as having a flexible schedule or strict commitments" %>
	  </div>
	  <%= f.submit(@shift.new_record? ? "Create Shift" : "Update Shift", class: 'btn btn-primary') %>
	<% end %>
</div>