<div class="well">
	<%= form_for @shift do |f| %>
	  <%= render 'shared/errors', obj: @shift %>
	  <div class='form-control'%>
	  	<%= f.label "Choose your role" %>
	  	<%= f.select(:role, Shift::ROLE_TYPES) %>
	  </div>
	  <div class='form-group'%>
	  	<%= f.label :date %>
	  	<%= f.date_select :date %>
	  </div>
	  <div class='form-group'%>
	  	<%= f.label :start_time %>
	  	<%= f.time_select :start_time %>
	  </div>
	  <div class='form-group'%>
	  	<%= f.label :end_time %>
	  	<%= f.time_select :end_time %>
	  </div>
	  <%= f.submit(@shift.new_record? ? "Create Shift" : "Update Shift", class: 'btn btn-primary') %>
	<% end %>
</div>