<div class="well">
	<%= form_for @shift do |f| %>
	  <%= render 'shared/errors', obj: @shift %>
	  <div class='form-group'%>
	  	<%= f.label "Who will be working this shift?" %>
	  	<%= f.text_field :person %>
	  </div>
	  <div class='form-group'%>
	  	<%= f.label "Which Role?" %>
	  	<%= f.select(:role, Shift::ROLE_TYPES) %>
	  </div>
	  <div class='form-group'%>
	  	<%= f.label :date %>
	  	<%= f.date_select :date %>
	  </div>
	  <div class='form-group'%>
	  	<%= f.label :begin_time %>
	  	<%= f.time_select :begin_time %>
	  </div>
	  <div class='form-group'%>
	  	<%= f.label :end_time %>
	  	<%= f.time_select :end_time %>
	  </div>
	  <div class='form-group'%>
	  	<%= f.label :notes %>
	  	<%= f.text_area :notes %>
	  </div>
	  <%= f.submit(@shift.new_record? ? "Create Shift" : "Update Shift", class: 'btn btn-primary') %>
	<% end %>
</div>