<%
meta :title => "Facilities",
     :description => "Seven Hills Skydivers of Madison, WI is a small, friendly, member-owned and operated club with a great atmosphere. Located on a private grass airstrip (Mathaire Airfield - WI97), we have a large clubhouse with many amenities.",
     :keywords => "Facilities, clubhouse, location, camp, house, building"
%>

<div class="container", style="text-align:center">
	<%= image_tag("club_flyby.png", alt: "Club Flyby", :class => "img-rounded", :style => "width:40%") %>
</div>
<div class="container">
	<h2 class="featurette-heading">Clubhouse</h2>
	<p class="lead">
		Seven Hills Skydivers of Madison, WI is a small, friendly, member-owned and operated club with a great atmosphere. Located on a private grass airstrip (Mathaire Airfield - WI97), we have a large clubhouse with many amenities:
		<ul>
			<li>Air-conditioned classrooms</li>
			<li>TV and DVD player</li>
			<li>Wireless internet</li>
			<li>Multiple restrooms</li>
			<li>Fire pit</li>
			<li>Patio and picnic areas</li>
			<li>Free camping and showers</li>
			<li>RV Electric</li>
			<li>Complete kitchen with stove</li>
		</ul>
	</p>
	<div class="row">
		<div class="col-md-4 col-md-offset-1">
	      <%= image_tag("street_view.jpg", alt: "Clubhouse", :class => "img-rounded") %>
    </div>
     <div class="col-md-4 col-md-offset-2">
	      <%= image_tag("outside_clubhouse.jpg", alt: "Clubhouse", :class => "img-rounded") %>
	   </div>
  </div>
  <br/>
  <div class="row">
		<div class="col-md-4 col-md-offset-1">
	      <%= image_tag("classroom.jpg", alt: "Classroom", :class => "img-rounded") %>
	  </div>
	  <div class="col-md-4 col-md-offset-2">
	      <%= image_tag("office.jpg", alt: "Office", :class => "img-rounded") %>
	  </div>
	 </div>
	<h3 class="text-muted">Airplanes</h3>
	<p>
		We have two Cessna-182 jumpships - one with an upgraded engine. Our planes are maintained and operated by FAA-certified pilots and mechanics.
	</p>
	<div class="row">
		<div class="col-md-4 col-md-offset-1">
	      <%= image_tag("824.jpg", alt: "824", :class => "img-rounded") %>
	  </div>
	  <div class="col-md-4 col-md-offset-2">
	      <%= image_tag("82R.jpg", alt: "82R", :class => "img-rounded", :style => "width:435px") %>
	  </div>
  </div>
</div>
