<div class="container">
	<%= image_tag("club_flyby.png", alt: "Club Flyby", :class => "img-rounded", :style => "width:500px") %>
</div>
<div class="container">
	<h4>Clubhouse</h4>
	<p>
		Seven Hills Skydivers of Madison, WI is a small, friendly, member-owned and operated club with a great atmosphere. Located on a private grass airstrip (Mathaire Airfield - WI97), we have a large clubhouse with many amenities:
		<ul>
			<li>Air-conditioned classrooms</li>
			<li>TV and DVD player</li>
			<li>Wireless internet</li>
			<li>Multiple restrooms</li>
			<li>Fire pit</li>
			<li>Patio and picnic areas</li>
			<li>Free camping and showers</li>
			<li>RV Electric</li>
			<li>Complete kitchen with stove</li>
		</ul>
	</p>
	<table>
		<thead>
			<tr>
				<th width="50%"></th>
				<th width="50%"></th>
			</tr>
		</thead>
		<tbody>
		<tr>
			<td>
	      <%= image_tag("street_view.jpg", alt: "Clubhouse") %>
	    </td>
	  	<td>
	      <%= image_tag("outside_clubhouse.jpg", alt: "Clubhouse") %>
	    </td>
	  </tr>
	  <tr>
			<td>
	      <%= image_tag("classroom.jpg", alt: "Classroom") %>
	    </td>
	  	<td>
	      <%= image_tag("office.jpg", alt: "Office") %>
	    </td>
	  </tr>
	</tbody>
  </table>
	<h4>Airplanes</h4>
	<p>
		We have two Cessna-182 jumpships - one with an upgraded engine. Our planes are maintained and operated by FAA-certified pilots and mechanics.
	</p>
	<table>
		<thead>
			<tr>
				<th width="50%"></th>
				<th width="50%"></th>
			</tr>
		</thead>
		<tbody>
		<tr>
			<td>
	      <%= image_tag("824.jpg", alt: "824") %>
	    </td>
	  	<td>
	      <%= image_tag("82R.jpg", alt: "82R") %>
	    </td>
	  </tr>
	</tbody>
  </table>
</div>
