<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  <li data-target="#myCarousel" data-slide-to="1"></li>
  <li data-target="#myCarousel" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
  <div class="item active">
    <%= image_tag("jay_tandem.jpg", alt: "Tandem Jump") %>
    <div class="container">
      <div class="carousel-caption">
        <h1>Skydiving at its best!</h1>
      </div>
    </div>
  </div>
  <div class="item">
    <%= image_tag("russ_linda_tandem.jpg", alt: "Student Jump") %>
    <div class="container">
      <div class="carousel-caption">
        <h1>Experience the thrill of a lifetime!</h1>
      </div>
    </div>
  </div>
  <div class="item">
    <%= image_tag("jack_student_smile.jpg", alt: "Student Jump") %>
    <div class="container">
      <div class="carousel-caption">
        <h1>Go Solo!</h1>
      </div>
    </div>
  </div>
</div>
<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span></span></a>
<a class="right carousel-control" href="#myCarousel" data-slide="next"><span></span></a>
</div><!-- /.carousel -->



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <%= link_to image_tag("john_exit.jpg", :class => "img-rounded", :style => "width:300px", alt: "Tandem Skydive"), '/tandem' %>
    <h2>Tandem Skydive</h2>
    <p>Tandem skydives are the quickest and easiest way to experience the thrill of skydiving. You will be strapped directly to a USPA certified instructor who will deploy and land the parachute while you take it all in.</p>
    <p><a class="btn btn-primary" href="/tandem" role="button">More Information &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <%= link_to image_tag("murray_iad.jpg", :class => "img-rounded", :style => "width:300px", alt: "IAD Student"), '/iad' %>
    <h2>IAD Skydive</h2>
    <p>Instructor-aided deployment skydives are for those who want to take a more active role in their jump. After a full morning of training, an instructor will help you deploy your very own parachute! You fly and land the parachute yourself (with radio guidance).</p>
    <p><a class="btn btn-primary" href="/iad" role="button">More Information &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <%= link_to image_tag("jack_hanging.jpg", :class => "img-rounded", :style => "width:272px", alt: "IAD Student"), '/experienced' %>
    <h2>Experienced Jumpers</h2>
    <p>Seven Hills is an very friendly and welcoming dropzone for skydivers of all experience levels! There are skydivers here from just about every discipline - some of them world record holders. Come jump with us!</p>
    <p><a class="btn btn-primary" href="/experienced" role="button">More Information &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Take a leap of faith <span class="text-muted">at 120 mph.</span></h2>
    <p class="lead">Jump from 10,000 feet and reach speeds of 120 mph until your parachute gently opens and your instructor guides you back to earth.</p>
  </div>
  <div class="col-md-5">
    <%= image_tag("russ_linda_tandem.jpg", :class => "featurette-image img-responsive", alt: "Tandem Skydive") %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-5">
    <%= image_tag("mav_video.jpg", :class => "featurette-image img-responsive", alt: "Videographer") %>
  </div>
  <div class="col-md-7">
    <h2 class="featurette-heading">Capture your skydive on video <span class="text-muted">and relive the moment forever.</span></h2>
    <p class="lead">Our professional videographers will capture the entire experience on video. Pre- and post-jump interviews, the climb to altitude, and of course the exit and freefall will all be recorded in HD so that you can remember your jump for years to come.</p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">For the truly bold... <span class="text-muted">Go Solo.</span></h2>
    <p class="lead">You don't have to jump with an instructor for your first skydive! We also offer an Instructor-Aided Deployment course where you can fly and land your very own parachute! IAD Skydives require a 6 hour ground school before jumping. </p>
  </div>
  <div class="col-md-5">
    <%= image_tag("murray_iad.jpg", :class => "featurette-image img-responsive", alt: "IAD Skydive") %>
  </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->