.container
  .row
    .col-sm-10.col-sm-offset-1
      %h3 Your #{@reservation.instruction} Reservation
      %h5 Date: #{@reservation.reservation_date.nil? ? "You have not picked a date!" : display_day(@reservation.reservation_date)}
      %h5 Time: #{@reservation.reservation_time.nil? ? "You have not picked a time!" : display_time(@reservation.reservation_date)}
      = link_to "Add a Skydiver", new_student_path(reservation_id: @reservation.id), class: "btn btn-primary"
      %table.table
        %thead
          %tr
            %th First Name
            %th Last Name
            %th Email
            %th Date
            %th Time
        %tbody
          - @reservation.students.each do |student|
            %tr
              %td= student.first_name
              %td= student.last_name
              %td= student.email
              %td= student.opening.nil? ? "Click here to pick a date for #{student.first_name}" : display_day(student.opening.date)
              %td= student.opening.nil? ? "Click here to pick a date for #{student.first_name}" : display_time(student.opening.time)