<div class="well">
	<%= form_for @tandem_student do |f| %>
	  <%= render 'shared/errors', obj: @tandem_student %>
	  <div class='form-group'%>
	  	<%= f.label "Name" %>
	  	<%= f.test_field :name, class: "form-control", placeholder: "Name" %>
	  </div>
	  <div class='form-group'%>
	  	<%= f.label "Email" %>
	  	<%= f.test_field :email, class: "form-control", placeholder: "student@example.com" %>
	  </div>
	  <div class='form-group'%>
	  	<%= f.label "Phone Number" %>
	  	<%= f.test_field :phone, class: "form-control", placeholder: "(608) 244-5252" %>
	  </div>
	  <div class='form-group'%>
	  	<%= f.label "Age" %>
	  	<%= f.test_field :age, class: "form-control", placeholder: "Age (in years)" %>
	  </div>
	  <div class='form-group'%>
	  	<%= f.label "Address" %>
	  	<%= f.text_field :street_address, class: "form-control", placeholder: "Street Address" %>
	  	<%= f.text_field :city, class: "form-control", placeholder: "City" %>
	  	<%= f.text_field :state, class: "form-control", placeholder: "State" %>
	  </div>
	  <div class='form-group'%>
	  	<%= f.label :notes %>
	  	<%= f.text_area :notes, class: "form-control", rows: "3", placeholder: "Enter any notes here, such as any special events or requirements" %>
	  </div>
	  <%= f.submit(@shift.new_record? ? "Submit" : "Update", class: 'btn btn-primary') %>
	<% end %>
</div>