<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/home">Seven Hills Skydivers</a>
</div>
<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li><%= link_to "Home", home_path %></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Skydive <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Tandem", tandem_path %></li>
        <li><%= link_to "Instructor-Assisted Deployment", iad_path %></li>
        <li><%= link_to "Continuing Students", continuing_path %></li>
        <li><%= link_to "Experienced Skydivers", experienced_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Book A Skydive", reservations_home_path %></li>
        <li><%= link_to "Pricing", pricing_path %></li>
        <li><%= link_to "FAQs", faq_path %></li>
        <li><%= link_to "Testimonials", testimonials_path %></li>
      </ul>
    </li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Facilities", facilities_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <% if member? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Members <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Members Home", members_path %></li>
          <li><%= link_to "Scheduling Calendar", shifts_path %></li>
          <li><%= link_to "View A Day's Roster", find_roster_openings_path %></li>
          <li><%= link_to "Available Openings", openings_path %></li>
        </ul>
      </li>
    <% end %>
    <% if admin? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Create an Opening", new_admin_opening_path %></li>
          <li><%= link_to "View A Day's Roster", find_roster_openings_path %></li>
          <li><%= link_to "Manage Openings", "#" %></li>
          <li><%= link_to "Available Openings", openings_path %></li>
        </ul>
      </li>
    <% end %>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <% if logged_in? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.first_name %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "Profile", user_path(current_user) %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to "Logout", logout_path %>
          </li>
        </ul>
      </div>
    <% else %>
      <li><%= link_to "Register", register_path %></li>
      <li><%= link_to "Login", login_path %></li>
    <% end %>
  </ul>
</div>